Package: cmdreader
Version: 1.5-1
Architecture: amd64
Maintainer: Komal Sukhani <komaldsukhani@gmail.com>
Installed-Size: 64
Section: java
Priority: optional
Homepage: https://github.com/rzwitserloot/com.zwitserloot.cmdreader
Description: Library that parses command line arguments
 Parses command line arguments. The CmdReader can turn strings like
 -fmv /foo/bar /bar/baz --color=white *.xyzzy *.cheese
 into something that easier to work with programatically.
